
<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<h4>会員一覧画面</h4>
			</div>
			<div class="col-xs-6">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>会員ID</th>
							<th>氏名</th>
							<th>メールアドレス</th>
							<th>ステータス</th>
						</tr>
					</thead>
					<tbody>
						<% @members.each do |member| %>
							<tr>
								<td><%= member.id %></td>
								<td><%= link_to member.first_name, admin_member_path(member.id) %></td>
								<td><%= member.email %></td>
								<td><%= member.is_active_i18n %></td>
							</tr>
						<% end %>
						<%= paginate @members, class: "paginate" %>
					</tbody>
				</table>
			</div>
			<div class="col-xs-3"></div>
		</div>
	</div>
</div>
