<%= flash[:notice] %>
<%= flash[:alert] %>

<div class="sign_in">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row">
      <p>会員の方はこちらからログイン</p>
  <table class="sign_in_form">
    <tr>
      <div class="form-group">
        <th></th>
        <td><%= f.label :メールアドレス %></td>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></td>
      </div>
    </tr>
    <tr>
      <div class="form-group">
        <th></th>
        <td><%= f.label :パスワード %></td>
        <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></td>
      </div>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <td><%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "=> パスワードを忘れた方はこちら", new_password_path(resource_name) %><br />
        <% end %>

      </td>
    </tr>
    <tr>
      <div class="actions">
      <th></th>
      <th></th>
      <td><%= f.submit "ログイン",class: "btn btn-primary" %></td>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th>登録がお済みでない方<br />
      <%= render "members/shared/links" %>
    </th>
    </tr>
    <tr>
      <td><td>
    </tr>
  </table>
  <% end %>
</div>

