<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <% if @member_or_product == "1"%>
      <h3>会員検索一覧</h3>
      <table class="table table-hover genres-table">
        <thead>
            <tr class="success">
                <th>会員ID</th>
                <th>氏名</th>
                <th>メールアドレス</th>
                <th>ステータス</th>
            </tr>
        </thead>
        <tbody>
            <% @members.each do |member| %>
                <tr>
                    <td><%= member.id %></td>
                    <td><%= link_to member.full_name, admin_member_path(member) %></td>
                    <td><%= member.email %></td>
                    <td><%= member.is_active_i18n %></td>
                </tr>
            <% end %>
        </tbody>
      </table>

    <% elsif @member_or_product == "2" %>
      <h3>商品検索一覧</h3>
      <table class="table table-hover genres-table">
        <thead>
          <tr class="success">
              <th>商品ID</th>
              <th>商品名</th>
              <th>税抜き価格</th>
              <th>ジャンル</th>
              <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
              <tr>
                <td><%= product.id %></td>
                <td><%= link_to product.name, admin_product_path(product) %></td>
                <td><%= product.price.to_s(:delimited) %></td>
                <td><%= product.genre.name %></td>
                <td><%= product.is_sales_status_i18n %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
    <% end %>
  </div>
  <div class="col-xs-1"></div>
</div>