<div class="row">
    <div class="col-xs-1"></div>
    <div class="genre">
      <div class="col-xs-2">
        <%= form_with url: products_path, method: :get, local: true do |f| %>
        <%= f.collection_select :i, Genre.all, :id, :name, :include_blank => "-------" %>
        <%= f.submit "ジャンル検索" %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-9">
      <h3>商品一覧</h3>
      <% @products.each do |product| %>
      <div class="product-items clearfix">
                <p><%= link_to product_path(product) do %>
                <%= attachment_image_tag product, :image, :fill, 150, 100, fallback: "no_image.jpg" %>
                <% end %><p>
                <p><%= product.name %></p>
                <p><%= number_to_currency(product.price, :format => "%u%n", :unit => "￥") %></p>
      </div>
      <% end %>
    </div>
</div>
<div class="pagi">
  <%= paginate @products, class: "paginate" %>
</div>