<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- コード追加 Bootstrap CSS読み込みコード-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if member_signed_in? %>
      <div class="welcome-text">
        ようこそ <%= link_to current_member.full_name, member_path(current_member) %> さん !
      </div>
    <% end %>
    <% if admin_signed_in? %>
      <div class="search-form">
        <%= form_tag admin_search_path, method: :get do %>
          <%= text_field_tag :search, '', placeholder: "会員名 or 商品名" %>
          <%= select_tag(:option, options_for_select([["会員", "1"],["商品","2"]]))%>
          <%= submit_tag '検索', class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>

    <div id="sp-menu">
      <h2>G20</h2>
      <ul>
        <% if member_signed_in? %>
          <li><%= link_to "マイページ", member_path(current_member) %></li>
          <li><%= link_to "商品一覧", products_path %></li>
          <li><%= link_to "カート", cart_items_path %></li>
          <li><%= link_to "ログアウト", destroy_member_session_path, method: :delete %></li>
        <% elsif admin_signed_in? %>
          <li><%= link_to "商品一覧", admin_products_path %></li>
          <li><%= link_to "会員一覧", admin_members_path %></li>
          <li><%= link_to "注文履歴一覧", admin_orders_path %></li>
          <li><%= link_to "ジャンル管理", genres_path %></li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
        <% else %>
          <% unless request.path.include?("admins/sign_in") %>
            <li><%= link_to "アバウト", about_path %></li>
            <li><%= link_to "商品一覧", products_path %></li>
            <li><%= link_to "新規登録", new_member_registration_path %></li>
            <li><%= link_to "ログイン", new_member_session_path %></li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="content-wrapper">
        <div class="address">
          <p>G20<br />
            〒000−0000 <br />
            東京都×××××××××× <br />
            TEL 01-2345-6789 <br />
            FAX 01-2345-6789
          </p> 
        </div>
        <ul class="text">
          <li><a href="#">トップページ</a></li>
          <li><a href="#">会社概要</a></li>
          <li><a href="#">事業内容</a></li>
          <li><a href="#">採用情報</a></li>
          <li><a href="#">お問い合わせ</a></li>
        </ul>
      </div>
      <div class="copylight">
        <p>©️ G20., Ltd. All Rights Reserved.</p>
      </div>
    </footer>
  </body>
</html>