<h1>登録情報変更</h1>

<%= form_for (@member) do |f| %>

<table class='member_edit'>
<tbody>
<tr>
 <th class='member_e_th'>名前</th>
 <td>
 <span>(姓)<%= f.text_field :first_name, value:@member.first_name %></span>
 <span>(名)<%= f.text_field :last_name, value:@member.last_name %></span>
 </td>
</tr>

<br>

<tr>
 <th class='member_e_td'>フリガナ</th>
 <td>
 <span>(セイ)<%= f.text_field :reading_first_name, value:@member.reading_first_name %></span>
 <span>(メイ)<%= f.text_field :reading_last_name, value:@member.reading_last_name %></span>
 </td>
</tr>

<br>

<tr>
 <th class='member_e_th'>メールアドレス</th>
 <td class='member_e_td'><%= f.text_field :email, value:@member.email %></td>
</tr>

<br>

<tr>
 <th class='member_e_th'>郵便番号(ハイフンなし)</th>
 <td class='member_e_td'><%= f.text_field :postal_code, value:@member.postal_code %></td>
</tr>

<br>

<tr>
 <th class='member_e_th'>住所</th>
 <td class='member_e_td'><%= f.text_field :address, value:@member.address, :size => "60*60" %></td>
</tr>

<br>

<tr>
 <th class='member_e_th'>電話番号(ハイフンなし)</th>
 <td class='member_e_td'><%= f.text_field :phone_number, value:@member.phone_number %></td>
</tr>

</tbody>
</table>

<br>

<span>
<%= f.submit "変更を保存する", class: "btn btn-primary" %>　　　
<% end %>
<%= link_to '退会する', confirmation_path, class: "btn btn-danger" %>
</span