<h3>マイページ</h3>
<br>
<div class=members_s_info1>
  <span>登録情報</span>
  <span><%= link_to '編集する', edit_member_path(current_member.id), class: "btn btn-primary" %></span>
  <span><%= link_to 'パスワードを変更する', edit_member_registration_path, class: "btn btn-primary" %></span>
</div>

<br>

<table class="members_s_table">

<tr>
	  <th><span>氏名</span></th>
		<td><span><%= @member.first_name+@member.last_name %></span></td>
</tr>

<tr>
	  <th><span>カナ</span></th>
		<td><span><%= @member.reading_first_name+@member.reading_last_name %></span></td>
</tr>

<tr>
	  <th><span>郵便番号</span></th>
		<td><span><%= @member.postal_code %></span></td>
</tr>

<tr>
	  <th><span>住所</span></th>
		<td><span><%= @member.address %></span></td>
</tr>

<tr>
	  <th><span>電話番号</span></th>
		<td><span><%= @member.phone_number %></span></td>
</tr>

<tr>
	  <th><span>メールアドレス</span></th>
		<td><span><%= @member.email %></span></td>
</tr>

</table>

<br>

<div class="members_s_info2">
 <span>配送先</span>
 <span><%= link_to '一覧を見る', deliveries_path, class: "btn btn-primary" %></span>
 <span>　　注文履歴</span>
 <span><%= link_to '一覧を見る', orders_path, class: "btn btn-primary" %></span>
 </div>
 
